<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /farmos/app/frontend/
    RewriteRule ^$ public/ [L]
    RewriteCond %{REQUEST_URI} !^/farmos/app/frontend/public/
    RewriteRule ^(.+)$ public/$1 [L,QSA]
</IfModule>
