<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /farmos/
    RewriteRule ^app/ - [L]
    RewriteRule ^$ app/frontend/public/ [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ app/frontend/public/$1 [L,QSA]
</IfModule>
