<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /farmos/app/
    RewriteRule ^backend/ - [L]
    RewriteRule ^frontend/ - [L]
    RewriteRule ^$ frontend/public/ [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ frontend/public/$1 [L,QSA]
</IfModule>
