<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /farmos/begin_pyphp/frontend/
    
    # Redirect to public folder
    RewriteRule ^$ public/ [L]
    RewriteRule ^(.+)$ public/$1 [L]
</IfModule>
